#LetterSPage {
    background-image: url(../../../assets/svg/fondoVerde.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#LetterSPage p {
    margin: 0;
}