.wordCard {
    height: 45%;
    width: 70%;
    background-color: #313EBC;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.wordCard .imgSpace {
    height: 90%;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 24px;

    margin-left: 1%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wordCard .imgSpace img {
    width: 85%;
    height: 85%;
}

.wordCard .textContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wordCard p {
    color: #B9B6B6;
    font-family: "DM Sans";
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -4.601px;

    margin: 0 0 0 2%;
}

.wordCard p span {
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -4.601px;
}