#Message1Page {
    background-image: url(../../../assets/svg/fondoVerde.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

#Message1Page h2 {
    color: #4C4C4C;
    text-align: center;
    font-family: "DM Sans";
    font-size: 39.619px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.585px;

    width: 70%;
    margin: 0;
}

#nextButton {
    width: 106.066px;
    height: 106.066px;

    flex-shrink: 0;
    background-color: #313EBC;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}