body {
    margin: 0;
    display: flex;
}

.page {
    width: 100vw;
    height: 100vh;
    margin: 0;

    gap: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}